# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files:
          glob:
            - ".github/workflows/*.yaml"

      - id: action-validator
        name: action-validator
        entry: action-validator
        language: system
        files:
          glob:
            - ".github/actions/*/action.yml"

      - id: lint-shell
        name: shellcheck
        entry: shellcheck
        language: system
        types: [ shell ]
