name: ci

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read


jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-rust-env
      - name: Test
        run: |
          ./scripts/install-linux-deps.sh
          mise run init
          mise run lint
          mise run test

  build-linux:
    name: build-linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-rust-env
      - name: Build
        run: |
          ./scripts/install-linux-deps.sh
          mise run init
          mise run build
      - uses: actions/upload-artifact@v4
        with:
          name: pmon-linux
          if-no-files-found: warn
          path: |
            src-tauri/target/release/bundle/deb/*.deb
            src-tauri/target/release/bundle/rpm/*.rpm
            src-tauri/target/release/pmon

  build-macos:
    name: build-macos
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-rust-env
      - name: Build
        run: |
          mise run init
          mise run build
      - uses: actions/upload-artifact@v4
        with:
          name: pmon-macos
          if-no-files-found: warn
          path: |
            src-tauri/target/release/bundle/dmg/*.dmg
            src-tauri/target/release/bundle/macos/*.app
            src-tauri/target/release/pmon

  build-windows:
    name: build-windows
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
       - uses: actions/checkout@v4
       - uses: ./.github/actions/setup-rust-env
       - name: Build
         run: |
           mise run init
           mise run build
           sccache --show-stats
       - uses: actions/upload-artifact@v4
         with:
           name: pmon-windows
           if-no-files-found: warn
           path: |
             src-tauri/target/release/bundle/msi/*.msi
             src-tauri/target/release/bundle/nsis/*.exe
             src-tauri/target/release/pmon
